<div class="container">
    <section>
        <h1>
            Welcome to My Payroll Exercise Web
        </h1>
        <a [routerLink]="'payroll'">Click here to explore.</a>
    </section>

    <section>
        <h3>
            Repository Link
        </h3>
        <div>
            <ul>
                <li>
                    <a href="https://github.com/lcqa/PayrollExercise-Web">Web</a>
                </li>
                <li>
                    <a href="https://github.com/lcqa/PayrollExercise">Backend</a>
                </li>
            </ul>
        </div>
    </section>

    <section>
        <h3>
            Setup
        </h3>
        <div>
            <h5>Pre requisites</h5>
            <ul>
                <li>Node JS Version: 16.16.0</li>
                <li>Anguler Version: 16.2.0</li>
                <li>NPM Version: 8.5.4</li>
                <li>VS Code or any code editor</li>
                <li>VS 2022 for Backend</li>
                <li>.NET 6 SDK</li>
            </ul>
        </div>

    </section>

    <section>
        <h3>
            Configuration
        </h3><span class="fw-bold"></span>
        <div>
            <h5>
                Environment
            </h5>
            <div>
                Change the value of <span class="fw-bold">baseApiUrl</span> that can be found in the <span class="fw-bold">app/environment</span> folder of the web project, the default value is <span class="fw-bold">http://localhost:5185/api</span>.
                <br>The port configuration of the backend can be found in the API project, path: <span class="fw-bold">Payroll.API/Properties/launchSettings.json</span>
                <br>This configuration allows the Web Application to commyunicate with the Backend Project.
            </div>
        </div>
        <div>
            <h5>
                Running the App
            </h5>
            <div>
                Type the angular command <span class="fw-bold">ng serve -c -o</span>
            </div>
            <div>
                For the backend, in Visual Studio Press F5 to start debugging
            </div>
        </div>
    </section>

</div>