<div class="container">
    <div class="row mb-3">
        <label for="first-name" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" id="first-name" class="form-control" [(ngModel)]="request.firstName">
        </div>
        
    </div>

    <div class="row mb-3">
        <label for="last-name" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" id="last-name" class="form-control" [(ngModel)]="request.lastName">
        </div>
      
    </div>

    <div class="row mb-3">
        <label for="annual-salary" class="col-sm-2 col-form-label">Annual Salary</label>
        <div class="col-sm-10">
            <input type="text" id="annual-salary" class="form-control" [(ngModel)]="request.annualSalary">
        </div>
       
    </div>

    <div class="row mb-3">
        <label for="super-rate" class="col-sm-2 col-form-label">Super Rate</label>
        <div class="col-sm-10">
            <input type="number" id="super-rate" class="form-control" [(ngModel)]="request.superRate" [min]="1" [max]="50">
        </div>
       
    </div>

    <div class="row mb-3">
        <label for="pay-period" class="col-sm-2 col-form-label">Pay Period</label>
        <div class="col-sm-10">
            <select class="form-control" id="pay-period" [(ngModel)]="request.payPeriod">
                <option *ngFor="let month of months" [value]="month.value">
                    {{month.name}}
                </option>
            </select>
        </div>
    </div>

    <button class="btn btn-primary" (click)="submit()">Submit</button>
</div>

<div class="container" *ngIf="isSubmitted">
    <h2>Payroll Details</h2>
    
    <div class="header-section">
        <div class="name-section">
            <h4>Employee: {{employeeDetails.lastName}}, {{employeeDetails.firstName}}</h4>
        </div>
        <div class="pay-period-section">
            <h4>Pay Period: {{employeeDetails.payrollDetails.payPeriod}}</h4>
        </div>
    </div>
    <div>
        <div class="row">
            <h5>Gross Income: </h5>
            <h5>{{employeeDetails.payrollDetails.grossIncome}}</h5>
        </div>
        <div>
            <h5>Income Tax: {{employeeDetails.payrollDetails.incomeTax}}</h5>
        </div>
        <div>
            <h5>Income Tax: {{employeeDetails.payrollDetails.netIncome}}</h5>
        </div>
        <div>
            <h5>Super: {{employeeDetails.payrollDetails.super}}</h5>
        </div>
    </div>

    <!-- <div>
        <label for="employee-first-name">First Name</label>
        <input type="text" id="employee-first-name" [(ngModel)]="employeeDetails.firstName" [disabled]="true">
    </div>

    <div>
        <label for="employee-last-name">Last Name</label>
        <input type="text" id="employee-last-name" [(ngModel)]="employeeDetails.lastName"  [disabled]="true">
    </div>

    <div>
        <label for="employee-pay-period">Pay Period</label>
        <input type="text" id="employee-pay-period" [(ngModel)]="employeeDetails.payrollDetails.payPeriod"  [disabled]="true">
    </div>

    <div>
        <label for="employee-gross-income">Gross Income</label>
        <input type="text" id="employee-gross-income" [(ngModel)]="employeeDetails.payrollDetails.grossIncome"  [disabled]="true">
    </div>

    <div>
        <label for="employee-income-tax">Income Tax</label>
        <input type="text" id="employee-income-tax" [(ngModel)]="employeeDetails.payrollDetails.incomeTax" [disabled]="true">
    </div>

    <div>
        <label for="employee-super">Super</label>
        <input type="text" id="employee-super" [(ngModel)]="employeeDetails.payrollDetails.super" [disabled]="true">
    </div> -->
</div>